@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100&family=Cormorant:wght@300&family=Open+Sans&display=swap");
@font-face {
  font-family: Amsterdam;
  src: url(../assets/amsterdam-four-ttf-maisfontes.100e/amsterdam-four-ttf.ttf);
}

/* Define the needed styles */
:root {
  --primary-color: #dfccc5;
  --secondary-color: #f4eee1;
  --icon-color: #998076;
  --highlight-color: #c8aea4;
  --font-style-one: "Amsterdam";
  --font-style-two: "Catamaran", sans-serif;
  --font-style-three: "Open Sans", sans-serif;
  --font-style-four: "Cormorant", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--secondary-color);
}

header {
  top: 0;
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: var(--secondary-color);
  align-items: center;
  z-index: 5;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

/* .shrink {
  font-size: 24px;
} */

img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.container {
  max-width: 1025px;
  margin: auto;
  position: relative;
}

section:not(:first-child) {
  margin: 100px 0;
  padding: 50px 0;
}

.brand-name {
  position: relative;
  margin: 0 0 0 44px;
}

.brand-name span {
  transition: all 0.2s ease-in;
}

.brand-name span:nth-child(1) {
  font-family: var(--font-style-one);
  font-size: 34px;
}

.brand-name span:nth-child(2) {
  position: absolute;
  font-size: 21px;
  font-family: var(--font-style-two);
  bottom: 0;
  left: 65%;
}

.nav {
  margin: 0 44px 0 0;
}

.nav ul {
  font-family: var(--font-style-three);
  display: flex;
  list-style: none;
  font-size: 16px;
  justify-content: center;
  align-items: center;
}

.nav ul li {
  position: relative;
  padding: 0 1em;
}

.nav .fa {
  color: var(--icon-color);
  font-size: 24px;
}

.nav .fa:hover {
  color: #9980765c;
}

a {
  text-decoration: none;
  color: black;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 5px 0;
  /* border-radius: 6px; */
  top: 130%;
  left: 50%;
  margin-left: -245px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%; /* At the top of the tooltip */
  left: 80%;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent rgb(255, 255, 255) transparent;
}

main {
  margin: auto;
}

/*responsive nav*/

@media only screen and (max-width: 1320px){
  header{
      padding: 0 3.125em;
  }
}
@media only screen and (max-width: 1100px){
  header{
      padding: 0 1.875em;
  }
}
@media only screen and (max-width: 900px){
  .hamburger{
      display: block;
      cursor: pointer;
 }
  .hamburger .line{
      width: 1.875em;
      height: 0.188em;
      background: var(--primary-color);
      margin: 0.375em 0 ;
 }
  .nav{
      height: 0;
      position: absolute;
      top: 5em;
      left: 0;
      right: 0;
      width: 100vw;
      background: #0b0c10;
      transition: 0.2s;
      overflow: hidden;
 }
  .nav .active{
      height: 28.125rem;
      z-index: 999;
 }
  .nav ul{
      display: block;
      width: fit-content;
      margin: 5rem auto 0 auto;
      text-align: center;
      transition: 0.5s;
      opacity: 0;
 }
  .nav .active ul{
      opacity: 1;
 }
  .nav ul a{
      margin-bottom: 0.8rem;
 }
}


.foot-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.foot-item{
  margin-top: 100px;
}

.site-footer
{
  background-color: var(--highlight-color);
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}